# Basic Understanding of Python

In [2]:
#int datatype

a=10
b=-10
print(a)
print(b)
print(type(a),type(b))

10
-10
<class 'int'> <class 'int'>

In [5]:
#float datatype

a=10.8
b=8/3
print(a)
print(b)
print(type(a),type(b))

10.8
2.6666666666666665
<class 'float'> <class 'float'>

In [6]:
#str datatype
s="Irshad"
s1="I"
s3="""Irshad's book"""
print(type(s3))
print(type(s1))

<class 'str'>
<class 'str'>

In [7]:
#bool datatypes

a=True 
b=False
print(type(a))
print(type(b))

<class 'bool'>
<class 'bool'>

In [9]:
#complex datatype store data in the form of a+bj format
a=10+20j
print(a.real)
print(a.imag)

10.0
20.0

In [13]:
#Arithemtic operator

#define a function which do all the mathematic operation

def mathOperation(a,b,exp):
    if exp in ["+","sum","addition","add"]:
        return a+b
    elif exp in ["-","minus","subtraction","difference"]:
        return a-b
    elif exp in ["divide","/","division"]:
        return a/b
    elif exp in ["multiplication","multiply","*"]:
        return a*b
    

print(mathOperation(10,3,"+"))
print(mathOperation(10,4,"-"))
print(mathOperation(10,6,"/"))
print(mathOperation(20,7,"*"))

13
6
1.6666666666666667
140

In [14]:
1 or 0

1

In [15]:
1 or 1

1

In [16]:
0 or 0

0

In [17]:
0 or 1

1

In [19]:
#List
#list is a collection related datatype which contain multiple elements where duplicates are allowed and also maintain the 
#order
l=[3,4,5,6,6,5,6,6,7,7,8,8,1,2,3]
print(l)

[3, 4, 5, 6, 6, 5, 6, 6, 7, 7, 8, 8, 1, 2, 3]

In [20]:
#List contain homogenous type value

l_str=["Irshad","Khalid","Kolkata"]
l_int=[4,5,6,6,9,45,4]
l_float=[5.6,66.5,88.6]
l_bool=[True,False,True]
print(l_str)
print(l_int)
print(l_float)
print(l_bool)

['Irshad', 'Khalid', 'Kolkata']
[4, 5, 6, 6, 9, 45, 4]
[5.6, 66.5, 88.6]
[True, False, True]

In [21]:
#list contain heterogenous  type value

l=[3,4,5,5,"Irshad","Mohan",55.6,True]
print(type(l))

<class 'list'>

In [23]:
#list support indexes both positive index and negative index

l=[3,4,5,5,"Irshad","Mohan",55.6,True]

#By using positive index we can fetch single single values

l=[3,4,5,5,"Irshad","Mohan",55.6,True]
print(l[0])
print(l[1])
print(l[2])
print(l[5])

3
4
5
Mohan

In [25]:
#By Negative index we can fetch the single single values

print(l[-1])
print(l[-2])
print(l[-3])
print(l[-4])

True
55.6
Mohan
Irshad

In [28]:
#list support slicing operator.
#Slicing operator is used to fetch partial values and complete value also ,it depends on start index and end index and setps

l=[3,4,5,5,"Irshad","Mohan",55.6,True]
print(l[0:6]) #This gives value from 0th index to 5thn index
print(l[:5])  #This gives value from 0th index to 4th index
print(l[1:4]) #this gives value from 1st index to 3rd index
print(l[:-1]) #this gives all values except last one means this gives value from 0 to -2nd index

[3, 4, 5, 5, 'Irshad', 'Mohan']
[3, 4, 5, 5, 'Irshad']
[4, 5, 5]
[3, 4, 5, 5, 'Irshad', 'Mohan', 55.6]

In [29]:
print(l[-1::-1])
print(l[::-1])
print(l[-1:-6:-1])

[True, 55.6, 'Mohan', 'Irshad', 5, 5, 4, 3]
[True, 55.6, 'Mohan', 'Irshad', 5, 5, 4, 3]
[True, 55.6, 'Mohan', 'Irshad', 5]

In [30]:
#list support concatenation
l1=[1,2,3,4,5]
l2=[4,6,6,7,5,4]
l3=[[4,5,6,6],[5,6,4,3],"Irshad"]
print(l1+l2+l3)

[1, 2, 3, 4, 5, 4, 6, 6, 7, 5, 4, [4, 5, 6, 6], [5, 6, 4, 3], 'Irshad']

In [31]:
#we cannot concatenate list with integer
[2,3,4,5]+100

TypeError: can only concatenate list (not "int") to list

In [33]:
#we cannot concatenate list with tuple,string

print([3,4,5,6,6]+"Irshad")
print([5,6,7,8]+(2,3,4,5))

TypeError: can only concatenate list (not "tuple") to list

In [35]:
#list support repetation operator

l=[3,4,5,6]
print(l*3)
print(l*4)

[3, 4, 5, 6, 3, 4, 5, 6, 3, 4, 5, 6]
[3, 4, 5, 6, 3, 4, 5, 6, 3, 4, 5, 6, 3, 4, 5, 6]

In [36]:
#list is a mutable object means once the list object is created, the same list object value or data we can change or 
#modify but no new object is create

l=[44,55,66,4,33,66]
print(id(l))#this gives memory of an object
l[0]=1000
print(l)
print(id(l))

1300044799048
[1000, 55, 66, 4, 33, 66]
1300044799048

In [48]:
#Function of an list
#append() :It append or add the given value at the last index of the list

l=[4,5,6,6]
print(l)
l.append("Irshad")
print(l)
l.append("Kailash")
print(l)

[4, 5, 6, 6]
[4, 5, 6, 6, 'Irshad']
[4, 5, 6, 6, 'Irshad', 'Kailash']

In [50]:
#remove() : It removes the given value from the list

l=[44,55,66,4,33,66]
l.remove(55)
print(l)
l.remove(66)
print(l)

[44, 66, 4, 33, 66]
[44, 4, 33, 66]

In [51]:
#insert(): It insert the given value at the given index

l=[44,55,66,4,33,66]
print(l)
l.insert(2,"Irshad")
print(l)

[44, 55, 66, 4, 33, 66]
[44, 55, 'Irshad', 66, 4, 33, 66]

In [52]:
#pop() : It removes the value from the list based on the given index

l=[44,55,66,4,33,66]
l.pop(3)

4

In [54]:
l.pop(2)

66

In [55]:
l

[44, 55, 33, 66]

In [56]:
#sort() : It sort the list value in ascending order as well as descending order also.Bydefault it sort the list value
#in ascending order

l=[444,66,3333,555,222,4,2,2,11,1,6,9,3,4]
l.sort()
l

[1, 2, 2, 3, 4, 4, 6, 9, 11, 66, 222, 444, 555, 3333]

In [58]:
l=[444,66,3333,555,222,4,2,2,11,1,6,9,3,4]
l.sort(reverse=True)
l

[3333, 555, 444, 222, 66, 11, 9, 6, 4, 4, 3, 2, 2, 1]

In [60]:
#How to fetch the second highest value from the list
l=[444,66,3333,555,222,4,2,2,11,1,6,9,3,4]
l.sort(reverse=True)
l[1]

555

In [61]:
#How to fetch the maximum value from the list
l=[444,66,3333,555,222,4,2,2,11,1,6,9,3,4]
max(l)

3333

In [62]:
#How to fetch the minimum value from the list
l=[444,66,3333,555,222,4,2,2,11,1,6,9,3,4]
min(l)

1

In [63]:
#reverse() : It reverse the list value
l=[444,66,3333,555,222,4,2,2,11,1,6,9,3,4]
l.reverse()
l

[4, 3, 9, 6, 1, 11, 2, 2, 4, 222, 555, 3333, 66, 444]

In [64]:
l=["Irshad","Mohan","Bhagan"]
l.reverse()
l

['Bhagan', 'Mohan', 'Irshad']

In [66]:
#How to create empty list
l=[]
l

[]

In [67]:
l=list()
l

[]

In [69]:
#How to convert the tuple or string into the list
t=(2,3,4,5,6,6)
l=list(t)
print(l)


s="Irshad"
l=list(s)
print(l)

[2, 3, 4, 5, 6, 6]
['I', 'r', 's', 'h', 'a', 'd']

In [72]:
#len() gives the lenght of list
l=[4,5,5,6,6,5,5,6,6,6]
len(l)

10

In [74]:
#count() tells how many times given value available in list,tuple or string

l=[4,4,4,4,4,5,5,5,5,6,6,6,7]
print(l.count(4))
print(l.count(5))

5
4

In [76]:
#index() return the index of the given value.It will search that the given value is avaialble or not in list,tuple
#string in forward direction if avaiable then return index if not available then throws an error

l=[444,66,3333,555,222,4,2,2,11,1,6,9,3,4]
print(l.index(3333))
print(l.index(333333))

2

ValueError: 333333 is not in list

# Tuple

In [80]:
#Tuple is an collection related datatypes which contain multiple elements where duplicates are allowed 
#maintains the order.

#In tuple values are enclosed by round bracket ()

t=(4,5,6,6,7,8,9,"Irshad")
print(t)

(4, 5, 6, 6, 7, 8, 9, 'Irshad')

In [81]:
#tuple contain heterogenous type values as well as homogenous types values

#Homogenous
t_int=(3,4,4,5,6,6,7,8,4,4)
t_str=("Irshad","Buffalo","Mohan","Karthik")
t_float=(55.3,66.4,7/6,88/6)
print(t_int)
print(t_str)
print(t_float)

(3, 4, 4, 5, 6, 6, 7, 8, 4, 4)
('Irshad', 'Buffalo', 'Mohan', 'Karthik')
(55.3, 66.4, 1.1666666666666667, 14.666666666666666)

In [82]:
#Heterogenous 

t=(3,4,55.6,"Irshad","Sharukh",44.5,True)
print(t)

(3, 4, 55.6, 'Irshad', 'Sharukh', 44.5, True)

In [83]:
#tuple support indexes both postive index and negative index

t=(3,4,55.6,"Irshad","Sharukh",44.5,True)
print(t[0])
print(t[1])
print(t[4])
print(t[2])

3
4
Sharukh
55.6

In [84]:
print(t[-1])
print(t[-3])

True
Sharukh

In [85]:
#tuple support slicing operator


t=(3,4,55.6,"Irshad","Sharukh",44.5,True)
print(t[0:6])
print(t[1:5])
print(t[:6])
print(t[1:])
print(t[:])
print(t[::])
print(t[:-1])

(3, 4, 55.6, 'Irshad', 'Sharukh', 44.5)
(4, 55.6, 'Irshad', 'Sharukh')
(3, 4, 55.6, 'Irshad', 'Sharukh', 44.5)
(4, 55.6, 'Irshad', 'Sharukh', 44.5, True)
(3, 4, 55.6, 'Irshad', 'Sharukh', 44.5, True)
(3, 4, 55.6, 'Irshad', 'Sharukh', 44.5, True)
(3, 4, 55.6, 'Irshad', 'Sharukh', 44.5)

In [86]:
print(t[-1:-5:-1])
print(t[::-1])

(True, 44.5, 'Sharukh', 'Irshad')
(True, 44.5, 'Sharukh', 'Irshad', 55.6, 4, 3)

In [87]:
#tuple support concatenation

t1=(2,3,4,5)
t2=(5,6,7,8)
print(t1+t2)

(2, 3, 4, 5, 5, 6, 7, 8)

In [88]:
#We cannot concatenate tuple with integer value, with list ,with string

(4,5,6)+100

TypeError: can only concatenate tuple (not "int") to tuple

In [89]:
(44,5,7,7)+[4,5,6,7]

TypeError: can only concatenate tuple (not "list") to tuple

In [90]:
(4,5,7,7)+"Irshad"

TypeError: can only concatenate tuple (not "str") to tuple

In [91]:
#tuple support repetation operator

t=(3,4,5,5)
print(t*3)
print(t*4)

(3, 4, 5, 5, 3, 4, 5, 5, 3, 4, 5, 5)
(3, 4, 5, 5, 3, 4, 5, 5, 3, 4, 5, 5, 3, 4, 5, 5)

In [92]:
#tuple is immutable object

t=(1,2,3)
t[0]=100

TypeError: 'tuple' object does not support item assignment

In [94]:
#len()

t=(1,2,3)
len(t)

3

In [97]:
#count() tell that how many times the given value available in the tuple
t=(3,4,4,5,6,6)
t.count(6)

2

In [115]:
#index() return the index of the given value value .It will search that given value available or not in the tuple in forward
#direction if available then return the index if not avaible then return error

t=(4,5,5,6,6,7,7)
print(t.index(5))
print(t.index(6))
print(t.index(10))

1
3

ValueError: tuple.index(x): x not in tuple

# Set

In [3]:
# set is a collection related datatypes which contain multiple elements where duplicates are not allowed and also doesnt
# maintain any order.
#In set values are enclosed by { } bracket

s={3,3,4,4,4,5,6,7,7,"Ambani","Adani","AzeemPRemji"}
print(s)

{3, 4, 5, 6, 7, 'Ambani', 'AzeemPRemji', 'Adani'}

In [4]:
#Set contain homogenous type value as well as heterogenous type value
#homogenous

s1={2,3,4,4,5}
s2={44.5,66.6,7/8,66.4}
s3={"Ambani","Adani","AzeemPRemji"}
print(s1)
print(s2)
print(s3)

{2, 3, 4, 5}
{0.875, 66.6, 44.5, 66.4}
{'Ambani', 'AzeemPRemji', 'Adani'}

In [124]:
s1={4,5,6,7,"Irshad","Mohan",True}
print(s1)

{True, 4, 5, 6, 7, 'Irshad', 'Mohan'}

In [125]:
#Set doesnot support indexes
s1={4,5,6,7,"Irshad","Mohan",True}
print(s1[0])

TypeError: 'set' object is not subscriptable

In [126]:
#set doesnt suppport slicing operator
s1={4,5,6,7,"Irshad","Mohan",True}
print(s1[0:10])

TypeError: 'set' object is not subscriptable

In [130]:
#set doesnot support concatenation
s1={3,4,5}
s2={4,5,6}
print(s1+s2)

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [135]:
#set doesnot support repetation operator
s1={1,2,3,4}
print(s1*3)
print(s1*4)

TypeError: unsupported operand type(s) for *: 'set' and 'int'

In [137]:
#set is an mutable object means once the set is created the same set object value or data we can change

s={3,4,5,6,7}
print(id(s))
s.add(100)
print(s)
print(id(s))

1300062677480
{3, 4, 5, 6, 7, 100}
1300062677480

In [138]:
#sets function

#add() : add() function is used to add the given value to the set

s={2,3,4,5}
print(s)
s.add(100)
print(s)
s.add("Irshad")
print(s)

{2, 3, 4, 5}
{2, 3, 100, 4, 5}
{2, 3, 100, 4, 5, 'Irshad'}

In [139]:
#remove() : remove() function is used to remove the given value from set

s={3,4,5,6,7}
print(s)
s.remove(7)
print(s)

{3, 4, 5, 6, 7}
{3, 4, 5, 6}

In [145]:
#difference() function return only those data which is available only in the left side set not available in the right side set

s1={"Irshad","Mohan",3,4,5,6}
s2={4,5,6,9,33}
print(s1.difference(s2))

{3, 'Mohan', 'Irshad'}

In [144]:
#intersection() return the common data from all the sets

s1={"Irshad","Mohan",3,4,5,6}
s2={4,5,6,9,33}
print(s1.intersection(s2))

{4, 5, 6}

In [146]:
s1={"Irshad","Mohan",3,4,5,6}
s2={4,5,6,9,33}
s3={4,5,6,199,33,333,455}
print(s1.intersection(s2,s3))

{4, 5, 6}

In [147]:
#union() function return all the data from all the sets except the duplicate

s1={"Irshad","Mohan",3,4,5,6}
s2={4,5,6,9,33}
s3={4,5,6,199,33,333,455}
print(s1.union(s2,s3))

{33, 3, 4, 5, 6, 199, 455, 9, 333, 'Irshad', 'Mohan'}

In [148]:
#update() will update or add the right-side set value to the left side set

s1={1,2,3,4}
s2={"Irshad","Mohan","Kavi"}
s1.update(s2)

In [150]:
s1

{1, 2, 3, 4, 'Irshad', 'Kavi', 'Mohan'}

In [151]:
s=set()
s

set()

# Dictionary

In [155]:
#Dictionary is a collection related datatypes which stores the value in the form of key-value pairs

#In Dictionary also values are enclosed by {}

dict_detail={'FName':'Md','Lname':'Irshad','Country':'India','City':'Bengaluru'}
print(dict_detail)

#fetchin the dictionary value using key
print(dict_detail['FName'])
print(dict_detail['Country'])
print(dict_detail['City'])

{'FName': 'Md', 'Lname': 'Irshad', 'Country': 'India', 'City': 'Bengaluru'}
Md
India
Bengaluru

In [160]:
#Fetching the dictionary values using get()
print(dict_detail.get('FName'))
print(dict_detail.get('City'))
print(dict_detail.get('Lname'))
print(dict_detail.get('Country'))

Md
Bengaluru
Irshad
India

In [162]:
#fetch all the keys of the dictionary
#keys() function available in  the dictionary which gives list of  keys of the dictionary
dict_detail.keys()

dict_keys(['FName', 'Lname', 'Country', 'City'])

In [163]:
#fetch all the values of the dictionary
#values() available in the dictionary which gives all the values of the dictionary
dict_detail.values()

dict_values(['Md', 'Irshad', 'India', 'Bengaluru'])

In [166]:
[dict_detail[key] for key in dict_detail.keys() ]

['Md', 'Irshad', 'India', 'Bengaluru']

In [167]:
dict_detail.values()

dict_values(['Md', 'Irshad', 'India', 'Bengaluru'])

In [173]:
#items() diplay all the key-value pairs
[i[1] for i in dict_detail.items()]

['Md', 'Irshad', 'India', 'Bengaluru']

In [176]:
dict_det={}
type(dict_det)

dict

In [177]:
dict_det['Fname']='Irshad'
dict_det['Lname']='Ali'
dict_det['Phone Number']=9916446494

In [182]:
dict_det

{'Fname': 'Irshad', 'Lname': 'Ali', 'Phone Number': 9916446494}

In [183]:
dict_det['Phone Number']

9916446494

In [184]:
dict_det['Fname']

'Irshad'

In [185]:
dict_det.get('Phone Number')

9916446494

# String

In [186]:
s="Irshad"
print(s)

Irshad

In [188]:
s='I'
print(s)

I

In [190]:
s="Irshad mine book is with you when u will retun my book's"
print(s)

Irshad mine book is with you when u will retun my book's

In [194]:
#String support indexes both positive index and negative index

s="Durga Software Solution"

print(s[0])
print(s[1])
print(s[2])
print(s[3])
print(s[4])
print(s[5])

print(s[-1])
print(s[-4])

D
u
r
g
a

n
t

In [195]:
#String support slicing operator

s="Durga Software Solution"
print(s[0:5])
print(s[0:7])
print(s[2:10])
print(s[:6])
print(s[:])
print(s[::])
print(s[:-1])

Durga
Durga S
rga Soft
Durga
Durga Software Solution
Durga Software Solution
Durga Software Solutio

In [196]:
print(s[-1::-1])
print(s[-1:-6:-1])

noituloS erawtfoS agruD
noitu

In [197]:
#string support concatenation

s1="Md"
s2="Irshad"
s3="Ali"
print(s1+" "+s2+" "+s3)

Md Irshad Ali

In [198]:
"irshad"+[3,4,5,6]

TypeError: can only concatenate str (not "list") to str

In [199]:
"Irshad" + (6,7,8)

TypeError: can only concatenate str (not "tuple") to str

In [200]:
#Function of string

#upper() convert the given string into uppercase
s="irshad"
print(s.upper())

IRSHAD

In [201]:
#lower() convert the given string into lowercase

s="IRSHAD"
print(s.lower())

irshad

In [202]:
#capitalize(): It convert the given string first letter into upercase and remaining will be lower case

s="durga software solution"
print(s.capitalize())

Durga software solution

In [203]:
#title() it convert given string each word first letter into uppercase and remaining will be lowercase

s="durga software solution"
print(s.title())

Durga Software Solution

In [204]:
#center() add the blank spaces or given characterto both side of the given string untill the outcome matched with
#the given number of character

s="Irshad"
print(s.center(10," "))
print(s.center(10,"*"))

  Irshad
**Irshad**

In [205]:
#ljust(): add the blank spaces or given character to the right side of the given string

s="Irshad"
print(s.ljust(10," "))
print(s.ljust(10,"*"))

Irshad
Irshad****

In [206]:
#rjust() adds the blank spaces or given character to the left side of the given string

s="Irshad"
print(s.rjust(10," "))
print(s.rjust(10,"*"))

    Irshad
****Irshad

In [208]:
#strip() removes the blank spaces or given character from both sides of the given string

s1="   Irshad    "
s2="************Irshad*************"
print(s1.strip())
print(s2.strip("*"))

Irshad
Irshad

In [209]:
#rstrip() removes the blank spaces or given character from right side of the given string

s1="   Irshad    "
s2="************Irshad*************"
print(s1.rstrip())
print(s2.rstrip("*"))

   Irshad
************Irshad

In [210]:
#lstrip()
s1="   Irshad    "
s2="************Irshad*************"
print(s1.lstrip())
print(s2.lstrip("*"))

Irshad
Irshad*************

In [211]:
#replace() : replace() is used to replace one character with another charater in the given string .we can also replace 
#multiple character

s="Durga Software Solution"
s.replace(" ","")

'DurgaSoftwareSolution'

In [212]:
s="Durga Software Solution"
s.replace(" ","@")

'Durga@Software@Solution'

In [213]:
#split() : split() function split the given string into the list based on the given seperator

s="Durga Software Solution"
s.split(" ")

['Durga', 'Software', 'Solution']

In [214]:
s="Durga@Software@Solution"
s.split("@")

['Durga', 'Software', 'Solution']

In [215]:
s="Durga/Software/Solution"
s.split("/")

['Durga', 'Software', 'Solution']

In [222]:
s="Wafer_07032022_235020.csv"
s1=s.split(".csv")
print(s1)
print(s1[0])
s2=s1[0].split("_")
print(s2[0])
print(s2[1])
print(s2[2])

['Wafer_07032022_235020', '']
Wafer_07032022_235020
Wafer
07032022
235020

In [228]:
email="mohanty.abhisekh1989@gmail.com"
s1=email.split("@")
print(s1[0])

mohanty.abhisekh1989

In [235]:
s="Wafer_07032022_235020.csv"
s1=s.split(".csv")
s1[0].split("_")

['Wafer', '07032022', '235020']

In [236]:
import re

In [246]:
s="Wafer_07032022_235020.csv"
s1=re.split(".csv",s)
s1=s1[0]
re.split("_",s1)[2]

'235020'

In [248]:
#''.join()

" ".join(["Irshad","Ali"])

'Irshad Ali'

# Condition Statements

In [249]:
#write a function which if statement

def fav_sub(sub):
    if sub=='Python':
        print("{} is fav subject".format(sub))
        
        
fav_sub("Python")

Python is fav subject

In [251]:
#Write a function to check the number is even or odd

def evenOdd(num1):
    if num1%2==0:
        print("{} is even number".format(num1))
    else:
        print("{} is odd number".format(num1))
        
        
evenOdd(10)
evenOdd(5)

10 is even number
5 is odd number

In [253]:
#Write the function to check the higher number among 2 

def higherNumber(n1,n2):
    if n1>n2:
        print("{} is greater ".format(n1))
    else:
        print("{} is greater ".format(n2))
        
        
        
higherNumber(10,20)
higherNumber(21,5)

20 is greater
21 is greater

In [258]:
#Write the function for  #if- elif statement where we check the branks of shoes 

def BrandName(brand_name):
    if brand_name.upper()=='ADIDAS':
        print("{} is no 1 brand".format(brand_name))
    elif brand_name.upper()=='NIKE':
        print("{} is a good brand".format(brand_name))
    elif brand_name.upper()=='PUMA':
        print("{} excellent".format(brand_name))
    elif brand_name.upper()=='UNDER ARMOUR':
        print("{} rising brand at recent time".format(brand_name))
    elif brand_name.upper()=='ROADSTAR':
        print("{} is reasonable".format(brand_name))
    else:
        print("no brand")
        

BrandName("adidas")
BrandName("Nike")
BrandName("Under armour")
BrandName("Sugar")

adidas is no 1 brand
Nike is a good brand
Under armour rising brand at recent time
no brand

In [259]:
s="md Irshad"
s.upper()

'MD IRSHAD'

In [4]:
#write the function to for different marks grade

def marks(marks=None):
    if marks>=90:
        return "Grade I"
    elif marks>=80:
        return "Grade II"
    elif marks>=70:
        return "Grade III"
    elif marks>=60:
        return "Grade IV"
    elif marks>=50:
        return "Grade V"
    elif marks>=36:
        return "Grade VI"
    else:
        return "Grade VII"
    
    

print(marks(50))
print(marks(99))

Grade V
Grade I

In [12]:
##Highest number among 3 given number

def highestNumber(n1,n2,n3):
    if n1>n2 and n1>n3:
        return "{} is greater".format(n1)
    elif n2>n3:
        return "{} is greater".format(n2)
    elif n1==n2==n3:
        return "all are equal "
    else:
        return "{} is greater".format(n3)
    
    
highestNumber(40,40,40)

'all are equal '

In [14]:
#Higher number all digit
def HigherDigit(*args):
    l=[i for i in args]
    print(l)
    return max(l)


HigherDigit(10,20,30,40,100,400)

[10, 20, 30, 40, 100, 400]

400

In [20]:
#list comprehensive
[i for i in range(1,20) if i%2!=0]

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [25]:
#nested if else statement :In case of nested if else statement we define if else statement either in if part or in else part

#check the num is even or odd if num is positive
# create function for that

def nestedIfElse(n1):
    if n1>0:
        if n1%2==0:
            return "Even Number"
        else:
            return "Odd Number"
    elif n1<0:
        return "Negative Number"
    else:
        return "Neutral"
    
    
    

print(nestedIfElse(0))
print(nestedIfElse(6))
print(nestedIfElse(5))
print(nestedIfElse(-1))

Neutral
Even Number
Odd Number
Negative Number

<b>Loops :</b> Executing  a  group of statement repeatedly is called Looping

<b>While loops </b>

In [1]:
#Display 1 to 10 

def SerialNumber():
    n=1
    while n<=10:
        print(n)
        n=n+1
        
        
SerialNumber()

1
2
3
4
5
6
7
8
9
10

In [2]:
#Display even numbers from 10 to 1

def ReverseNumber():
    n=10
    while n>0:
        print(n)
        n=n-1

        
ReverseNumber()

10
9
8
7
6
5
4
3
2
1

In [5]:
#Display the even nuber from 1 to 20

def EvenNumber():
    n=1
    l_even=[]
    while n<=20:
        if n%2==0:
            l_even.append(n)
        n=n+1
    return l_even



print(EvenNumber())

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [7]:
def OddNumber():
    n=1
    l_even=[]
    while n<=20:
        if n%2!=0:
            l_even.append(n)
        n=n+1
    return l_even



print(OddNumber())

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [10]:
#For loop:

#Display 1 to 10

def SerialNumberFor():
    l=[]
    for i in range(1,11):
        l.append(i)
    return l
        
    
SerialNumberFor()

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [11]:
#Display 10 to 1

def ReverseNumberFor():
    l=[]    
    for i in range(10,0,-1):
        l.append(i)
        
        
    return l

print(ReverseNumberFor())

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [20]:
#Display all the vowels in the given string

def Vowel(var_str=None):
    l=['a','e','i','o','u']
    s_vowel=set()
    for i in var_str.lower():
        if i in l:
            s_vowel.add(i)
    return s_vowel


print(Vowel("aaaaooooooiiiiii"))

{'i', 'o', 'a'}

In [21]:
#Display even nuber from 1 to 20

def evenN():
    for i in range(1,21):
        if i%2==0:
            print(i)
            
            
            
evenN()

2
4
6
8
10
12
14
16
18
20

In [29]:
#Create the function for pallindrome

def Pallindrom(v_str):
    r_str=v_str[-1::-1]
    if v_str==r_str:
        return "Given String is Pallindrome"
    else:
        return "Given String is not Pallindrome"
    
    
print(Pallindrom("irshad"))
print(Pallindrom("madam"))
print(Pallindrom("lol"))

Given String is not Pallindrome
Given String is Pallindrome
Given String is Pallindrome

In [34]:
#Create a function which display the Pattern Like below

#1
#2 2 
#3 3 3
#4 4 4 4
#5 5 5 5 5

def Pattern1(n):
    for i in range(1,n+1):
        print((str(i)+" ")*i)

        

        
Pattern1(5)

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [35]:
#Create the function which display the Pattern like below

#* 
#* *
#* * * 
#* * * *
#* * * * *

def Pattern2(n):
    for i in range(1,n+1):
        print("* "*i)
        
        
Pattern2(5)

*
* *
* * *
* * * *
* * * * *

In [37]:
#Create the function which display the Pattern like below

#* * * * *
#* * * *
#* * *
#* *
#* 
 
def Pattern3(n):
    [print("* "*i) for i in range(n,0,-1)]
    
    
Pattern3(5)

* * * * *
* * * *
* * *
* *
*

In [38]:
#Create the function which display the Pattern like below

#* 
#* *
#* * * 
#* * * *
#* * * * *
#* * * *
#* * *
#* *
#* 


def Pattern4(n):
    for i in range(1,n+1):
        print("* "*i)
    for i in range(n-1,0,-1):
        print("* "*i)
        
        
Pattern4(5)

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*